* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: #42b044;
}
.banner{
    position: relative;
}
.banner__side{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 80px;
    background: gray;
    opacity:0.5 ;
    top: 0;
    left: 0;
}
.banner img{
    width: 100%;
    display: block;
}
.banner__button{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
}
@keyframes kfinput {
    50%{background: #015a03;color: #eefd02;}
    100%{background: #eefd02;color: #015a03;}
}
.banner__button input{
    /* background: #015a03;
    color: white; */
    animation: kfinput 5s ease  infinite;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
}
.banner__button input:active{
    background: white;
    color: #015a03;
}
.menu__wrap{
    width: 100%;
    position: absolute;
    z-index: 10;
}

.menu__logo {
    float: left;
    padding-top: 1px;
    padding-left: 60px;
    text-transform: uppercase;
    max-width: 10%;
}
.logo img{
    max-width: 100%;
}
.menu__logo a {
    background: #eefd02;
    color: #015a03;
    text-decoration:none;
    font-size: 20px;
    transition: 1s;
}
.sup{
    color: goldenrod;
}

.menu__logo a:hover{
    color:goldenrod;
}

.menu__bar{
    /* width: 100%; */
    /* float: left; */
    /* height: 60px; */
    /* padding-top: 45px; */
    padding-top: 25px;
    padding-right: 30px;
}
.underlist{
    float: right;
    
}
.list{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.list li{
    float: left;
    /* width: 200px; */
    /* font-size: 20px; */
    text-transform: uppercase;
    padding: 5px;
}
.list a{
    text-decoration: none;
    color: #eefd02;
    /* background: white; */
    /* border: 2px solid white; */
    padding: 10px 10px;
    margin : 0 auto;
    transition: 1s;
    
}
.list a:hover{
    color: white;
    border: 2px solid #eefd02;
}
.content{
    background: #3faf41b8;
    margin: auto;
}


.h3{
    font-size: 30px;
    color:#023b1b;

}
@keyframes h4text{
    0%{background: black;color: red;}
    25%{background: red;color: black;}
    50%{background: #015a03;color: #eefd02;}
    100%{background: #eefd02;color: #015a03;}
}
h4{
    font-size: 25px;
    animation: h4text 5s ease infinite;
}


.clear{
    clear: both;
}

.lienhe{
    background: #3faf41b8;
    padding-bottom: 100px;
}
.lienhe__wrap{
    text-align: center;
    line-height: 40px;
    max-width: 800px;
    margin: auto;
}
.lienhe__content{
    max-width: 100%;
    padding-top: 40px;
}
.lienhe__img{
    max-width: 50%;
    float: left;
    padding: 10px;
}
.lienhe__img img{
    width: 100%;
}
.lienhe__form{
    max-width: 50%;
    float: left;
    padding-left: 50px;
}
.lienhe__form iframe{
    width: 400px;
    height: 400px;
}
.map iframe{
    width: 400px;
    height: 400px;
    padding: 10px;
}
.head{
    text-transform: uppercase;
    color: #eefd02;
    font-size: 40px;
    font-family: Lobster;
    padding: 30px 30px 20px 0;
    position: relative;
    text-align: left;
}
.head::after {
    width: 200px;
    height: 3px;
    background-color: red;
    position: absolute; 
    top: 100px;
    left: 50px;
    content: '';
}
.backtotop{
    position: fixed;
    bottom: 0;
    right: -50px;
    z-index: 10;
    opacity:0.2;
}
.backtotop img{
    width: 50%;
}
.facebook{
    position: fixed;
    bottom: 120;
    right: -50px;
    z-index: 10;
}
.facebook img{
    width: 50%;
}
.call{
    position: fixed;
    bottom: 240;
    right: -50px;
    z-index: 10;
}
.call img{
    width: 50%;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #023b1b;
    color : #eefd02;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
.footer__imgwrap img{
    height: 100px;
}
/* @media only screen and (max-width: 736px) {
   
    
    [class*=footer]{
        height: 50px;
        font-size: 10px;
       
    }
    [class*=footer__imgwrap]{
        visibility: hidden;
    }
    .call img{
        width: 30%;
        
    
    }
    .call {
        right: -135px;
        bottom: 140px;
    }
    .facebook img{
        width: 30%;
        
    
    }
    .facebook{
        bottom: 70px;
        right: -135px;
    }
    .backtotop {
        width: 30%;
       
    }
    
    
} */

/* =============== SLIDE ================== */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* Ẩn các slider */
  .mySlides {
      display: none;
  }
  /* Định dạng nội dung Caption */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
   
  /* định dạng các chấm chuyển đổi các slide */
  .dot1 {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    bottom: 0;
    left: 48%;
  }
  .dot2 {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  .dot3 {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    bottom: 0;
    left: 52%;
  }
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }