* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.wrap{
    /* background-image: url("background2.jpg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%; */
}
.banner{
    position: relative;

}
.banner__side{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 80px;
    background: #023b1b;
    top: 0;
    left: 0;
}
.banner img{
    width: 100%;
    display: block;
}
.banner__button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes kfinput {
    50%{background: #015a03;color: #eefd02;}
    100%{background: #eefd02;color: #015a03;}
}
.banner__button input{
    /* background: #015a03;
    color: white; */
    animation: kfinput 5s ease  infinite;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
}
.banner__button input:active{
    background: white;
    color: #015a03;
}
.menu__wrap{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: -89px;
}   

.menu__logo {
    float: left;
    padding-top: 1px;
    padding-left: 60px;
    text-transform: uppercase;
    width: 150px;
}
.menu__logo img{
    max-width: 100%;
}


.menu__bar{
    /* width: 100%; */
    /* float: left; */
    /* height: 60px; */
    /* padding-top: 45px; */
    padding-top: 25px;
    padding-right: 30px;
}
.underlist{
    float: right;
    
}
.list{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.list li{
    float: left;
    /* width: 200px; */
    /* font-size: 20px; */
    text-transform: uppercase;
    padding: 5px;
}
.list a{
    text-decoration: none;
    color: #eefd02;
    /* background: white; */
    /* border: 2px solid white; */
    padding: 10px 10px;
    margin : 0 auto;
    transition: 1s;
    
}
.list a:hover{
    color: white;
    border: 2px solid #eefd02;
}
.content{
    background: white;
    margin: auto;
}
.bienchung{
    background:white;
    margin: auto;
}
.bienchung__wrap{
    /* background: #daa5207d; */
    /* text-align: center; */
}
.bienchung__content{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.bienchung img{
    width: 100%;
    border-radius: 50%;
}
.bienchung__img{
    float: left;
    max-width: 100%;
    padding-bottom: 30px;
}
.bienchung1{
    float: left;
    max-width: 33.33%;
    padding: 35px;
}
.bienchung2{
    float: left;
    max-width: 33.33%;
    padding: 35px;
}
.bienchung3{
    float: left;
    max-width: 33.33%;
    padding: 35px;
}

.h3{
    font-size: 30px;
    color:#023b1b;

}
@keyframes h4text{
    0%{background: black;color: red;}
    25%{background: red;color: black;}
    50%{background: #015a03;color: #eefd02;}
    100%{background: #eefd02;color: #015a03;}
}
h4{
    font-size: 25px;
    animation: h4text 5s ease infinite;
}

.bienchung__text{
    max-width: 100%;
    padding-top: 40px;

}
.bienchung__top{
    max-width: 50%;
    float: left;
}
.bienchung__bot{
    max-width: 50%;
    float: left;
}
.bienchung__inside{
    max-width: 100%;
    float: left;
    padding: 5px;
}
.inside__img{
    max-width: 30%;
    float: left;
}
.inside__text{
    max-width: 70%;
    float: left;
    text-align: left;
    padding: 10px;
}
.anhsanpham {
    position: relative;
}
.anhsanpham img{
    width: 100%;
}
.sanpham{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 40px;
}
.sanpham__content{
    max-width: 800px;
    margin: auto;
}
.sanpham__head{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
}
.sanpham__text{
    line-height: 25px;
    color: black;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    max-width: 100%;

}
.sanpham__left{
    max-width: 50%;
    float: left;
    padding: 10px;
    text-align: left;
}
.sanpham__right{
    max-width: 50%;
    float: left;
    padding: 10px;
}
.sanpham__right iframe{
    width: 400px;
    height: 400px;
}
.thanhphan{
   background: white;
}
.sanpham__img{
    max-width: 100%;
    /* float: left; */
    padding: 40px 10px 40px 10px; 
}
.thanhphan__wrap{
    max-width: 100%;
    float: left;
}
.thanhphan__text{
    max-width: 800px;
    margin: auto;
    padding: 40px 0 40px 0;
    text-align: center;
    line-height: 25px;
}
.thanhphan__img{
    max-width: 20%;
    float: left;
    margin: auto;
    text-align: center;  
    padding-bottom: 40px;
}
.thanhphan__img img{
    width: 100%;
    border-radius: 50%;
    padding: 15px;
}
.thanhphan__button{
    margin : auto;
    max-width: 800px;
    text-align: center;
}
.congdung__anhdong{
    margin: auto;
    text-align: center;
}
.congdung__anhdong img{
    width: 70%;
}
.button{
    height: 50px;
    background-color: #015a03;
    color: #eefd02;
    border-radius: 20%;
    width: 300px;
    font-size: 18px;
}
.button:active{
    background: black;
    color: white;
}
.congdung{
    text-align: center;
    line-height: 40px;
    padding-top: 30px; 
    width: 100%;
    background: white;
}

.congdung__content{
    margin: auto;
    max-width: 800px;
   padding-bottom: 40px;
}
.congdung img{
    width: 100%;
}
.uudiem{
    line-height: 40px;
    /* padding-top: 30px; */
    padding-bottom: 30px;
   
    background: white;
}
.uudiem__content{
    text-align: center;
    margin: auto;
    z-index: 3;
    position: relative;
   
}
.uudiem__wrap{
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.uudiem img{
    width: 100%;
}
.clear{
    clear: both;
}
.danhgia{
    background: white;
}
.danhgia__wrap{
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.danhgia__text{
    padding: 40px 0 40px 0;
    line-height: 30px;
    text-align: left;
}
.lienhe{
    background: white;
    padding-bottom: 100px;
 
}
.lienhe__wrap{
    text-align: center;
    line-height: 40px;
    max-width: 800px;
    margin: auto;
}
.lienhe__content{
    max-width: 100%;
    padding-top: 40px;
}
.lienhe__img{
    max-width: 50%;
    float: left;
    padding: 10px;
   text-align: center;
}
.lienhe__img img{
    width: 100%;
}
.lienhe__form{
    max-width: 50%;
    float: left;
    padding-left: 50px;
}
.lienhe__form iframe{
    width: 400px;
    height: 400px;
}
.map iframe{
    width: 400px;
    height: 400px;
    padding: 10px;
}
.head{
    text-transform: uppercase;
    color: green;
    font-size: 40px;
    font-family: Lobster;
    padding: 30px 30px 20px 0;
    position: relative;
    text-align: left;
}
.head::after {
    width: 200px;
    height: 3px;
    background-color: red;
    position: absolute; 
    top: 100px;
    left: 50px;
    content: '';
}
.backtotop{
    position: fixed;
    bottom: 55;
    right: -120px;
    z-index: 10;
    opacity: 0.5;
}
.backtotop img{
    width: 30%;
}
.facebook{
    position: fixed;
    bottom: 120;
    right: -120px;
    z-index: 10;
}
.facebook img{
    width: 30%;
}
.call{
    position: fixed;
    bottom: 190;
    right: -120px;
    z-index: 10;
    opacity: 0.8;
}
.call img{
    width: 30%;
}
.footer{
    font-size: 10px;
    width: 100%;
    height: 30px;
    background-color: #023b1b;
    color : #eefd02;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 5;
}
.footer a{
    color : #eefd02;
}
@media only screen and (max-width: 736px) {
    /* For mobile phones: */
    .menu__logo{
        opacity: 0;
    }
    .menu__wrap{
   
    }
    .list li a{
        
        font-size: 7px;
       
    }
    .list li{
        padding: unset;
    }
    .menu__bar{
        padding-top: 0;
    }
    .banner__side{
        height: 30px;
    }
    .banner__button{
        visibility: hidden;
    }
    [class*=bienchung__img]{
        float: none;
    }
    [class*=bienchung1]{
        max-width: unset;
        float: none;
    }
    [class*=bienchung2]{
        float: none;
        max-width: unset;
    }
    [class*=bienchung3]{
        
        float: none;
        max-width: unset;
    }
    [class*=bienchung__top]{
        float: none;
        max-width: unset;
    }
    [class*=bienchung__bot]{
        max-width: unset;
        float: none;
    }
    [class*=sanpham__left]{
        float: none;
        max-width: unset;
    }
    [class*=sanpham__right]{
        max-width: unset;
        float: none;
    }
    [class*=head]{
        font-size: 22px;
    }
    .sanpham__right iframe{
        width: 300px;
        height: 300px;
    }
    [class*=lienhe__form]{
        visibility: hidden;
    }
    [class*=lienhe__img]{
       max-width: unset;
    }
    .map iframe{
        width: 300px;
        height: 300px;
    }
    [class*=footer]{
        height: 20px;
        font-size: 10px;
       
    }
    /* [class*=footer__imgwrap]{
        visibility: hidden;
    } */
    .call img{
        width: 20%;
        
    
    }
    .call {
        right: -150px;
        bottom: 120px;
    }
    .facebook img{
        width: 20%;
        
    
    }
    .facebook{
        bottom: 70px;
        right: -150px;
    }
    .backtotop {
        width: 30%;
        bottom: 25px;
        right: -65px;
    }
    .dot1{
        visibility: hidden;
    }
    .dot2{
        visibility: hidden;
    }
    .dot3{
        visibility: hidden;
    }
   
    
    
}

/* =============== SLIDE ================== */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  /* Ẩn các slider */
  .mySlides {
      display: none;
  }
  /* Định dạng nội dung Caption */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
   
  /* định dạng các chấm chuyển đổi các slide */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
    
  }
  .dot__wrap{
      position: absolute;
      bottom: 0;
      left: 50%;
  }
  .cham1{
    left: 48%;
    
    
  }
  .cham2{
    left: 50%;
   
  
  }
  .cham3{
    left: 52%;
  
  
  }
  
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


  *styles for responsive menu*/
@media only screen and (min-width: 481px) and (max-width: 900px) {
    #menu__bar li div.column.mayHide {
        display: none;
    }
    #menu__bar ul {
        width: 100%;
        border-radius: 0;
    }
    #menu__bar li {
        position:relative;
	    width:33.33%;
        box-sizing:border-box;
        text-align: left;
        border-top:1px solid rgba(143, 6, 6, 0.3);
        border-right:1px solid rgba(255,255,255,0.3);
    }
    #menu__bar li.full-width {
        position: relative;
    }
    #menu__bar div.dropdown {
        width: auto;
        left: 0px;
        text-align: left;
    }
    #menu__bar li.full-width div.dropdown {
        width: auto;
    }
    #menu__bar div.dropdown.right-aligned, #menu__bar div.dropdown.mayRight {
        left: auto;
        right: 0px;
    }
    #menu__bar li div.column {
        width: auto;
        border: none;
    }
}