* {
	box-sizing: border-box;	
	}
.tittle{
	position: relative;
}
.menu__space {
	height: 150px;
	width: 100%;
	background-color:#08041f;
	opacity: 0.5;
	top: 0;
	position: absolute;
}
.banner {
	position: absolute;
	max-width: 100%;
	max-height: 50px;
	

}
/* .banner__img {
	
	width:100%;
	height: 550px;
} */

.menu {
	float: left;
	max-width: 70%;
	padding-top: 40px;
	padding-left: 300px;
	
}
.menu__logo {
	font-size : 20px;
	color: white;
	max-width: 30%;
	float: left;
	padding-top: 50px;
	padding-left: 300px;
	font-family: Ubuntu;
}
	
.menu ul {
	list-style-type: none;
	list-style: none;
	width: 100%;

}
.menu ul li {
	
	font-size: 14px;
	color:white;
	text-align: center;
	font-family:Ubuntu;
}
.menu li {
	float: left;
	width: 90px;


}
.menu ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	text-align: center;
	
}

.menu__home a{
	color: rgb(7, 126, 236)!important;
	border: 1px;
	border-style: ridge;
	border-color: rgb(7, 126, 236);
	transition: linear 0.5s;
	padding: 10px;
}

.bannertext{
	background-image: url("img/background.jpg");
	background-size:cover;
	width: 100%;
	height: 500px;
	
}

.banner__text1 {
	font-family: Roboto;
	font-size : 25px;
	text-transform: uppercase;
	height: 30px;
	background-color: #6d6b78;
	color: white;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.banner__text2 {
	font-family: Roboto;
	font-size : 25px;
	text-transform: uppercase;
	height: 30px;
	background-color: #6d6b78;
	color: white;
	position: absolute;
	text-align: center;
	top: 60%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.wrap{
	width: 100%;
	margin: auto;
	background-color:	aqua;
}
.service{
	/* height: 75%; */
	background-color: aqua;
	color: white;
	height: 75%;
	
}

.service__menu{
	text-transform: uppercase;
	font-size: 30px;
	height: 150px;
	padding-top: 50px;
	padding-bottom: 10px;
	
}
/* .space__left{
	background-color: aqua;
	float: left;
	width: 16.6%;
	height: 75%;	
} */
.service__coffee{
	width: 25%;
	float: left;
}
.service__instant{
	width: 25%;
	float: left;
}
.service__serious{
	width: 25%;
	float: left;
}
.service__frame{
	width: 25%;
	float: left;
}

/* .space__right{
	background-color: aqua;
	float: left;
	width: 16.6%;	
} */
/* .clear{
	height: 100px;
	
} */
.content1{
	max-width: 1000px;
	margin: auto;
	background-color:	aqua;
}
.content2{
	max-width: 1000px;
	margin: auto;
	
}
.portfolio{
	/* float: left; */
	max-width: 100%;
}
/* .port__spaceleft{
	width: 15%;
	height: 500px;
	float: left;
}
.port__spaceright{
	width: 15%;
	height: 500px;
	float: left;
} */

.port__text{
	text-transform: uppercase;
	font-size: 30px;
	float: left;
	padding-top: 30px;
	max-width: 40%;
	padding-bottom: 50px;
	
}

.portfolio__menu{
	float: right;
	height: 30px;
	width: 100%;
	max-width: 60%;
	padding-top: 20px;
	padding-bottom: 40px;
	
}
.clear{
	clear: both;
}
.portfolio__menu ul {
	list-style-type: none;
	list-style: none;
	
	width: 100%;

}
.portfolio__menu ul li {
	text-transform: uppercase;
	font-size: 14px;
	color:black;
	text-align: center;
}
.portfolio__menu li {
	float: left;
	width: 90px;


}
.portfolio__menu ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color:black;
	text-align: center;
	
}

.portfolio__menu__all a{
	color: rgb(7, 126, 236) !important;
	border: 1px;
	border-style: ridge;
	border-color: rgb(7, 126, 236);
	transition: linear 0.5s;
	padding: 10px;
}
.port__img{
	overflow: hidden;
	max-width: 25%;
}
img {
	width: 24%;
	padding: 10px;
}
.portfolio__img{
	max-width: 100%;
	float: left;	
}
.port__img:hover{
	opacity: 0.7;
	transition: opacity 0.7s linear;
	box-shadow: 0px 0px 4px #000;
}