* {
box-sizing: border-box;


}



h1 {
 color: pink;
 font-size: 50px;
 text-align: center;
	 }

h2 {
	color : blue;
	font-size: 40px;
	text-align: center;
}

h3 {
	color: green;
	font-size: 30px;
	text-align: center;
}
#wrap {
	max-width: 1000px;
	margin: auto;

}

#banner {
	float: left;

}

#mainmenu {
	margin: auto;
	text-align: center;

	
}

#mainmenu a { 
	font-size: 20px;
	color: red;
	text-decoration: none;


 }

 #mainmenu a:hover {
 	color: black;

 }

 #mainmenu a:visited {
 	color : grey;
 
}

#boram {
	float: left;
	max-width: 250px;
	margin: auto;


}


}
#soyeon {
	float: left;
	max-width: 250px;
	margin: auto;
	

}
#jiyeon {
	float: left;
	max-width: 250px;
	margin: auto;
	

}
#eunjung {
	float: left;
	max-width: 100px;
	margin: auto;
	

}

}
img { 
	width: 100%

 }

 img:hover {
 	color: grey;

 }

 .anh {
 	max-width: 300px;

 }
	

 

