* {
box-sizing: border-box;


}



h1 {
 color: pink;
 font-size: 50px;
 text-align: center;
	 }

h2 {
	color : blue;
	font-size: 40px;
	text-align: center;
}

h3 {
	color: green;
	font-size: 30px;
	text-align: center;
}
#wrap {
	max-width: 1000px;
	margin: auto;

}

#banner {
	float: left;



}

#mainmenu {
	margin: auto;
	text-align: center;

	
}

#mainmenu a { 
	font-size: 20px;
	color: red;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.3s linear;


 }

 #mainmenu a:hover {
 	
 	opacity: 0.3;


 }

 #mainmenu a:visited {
 	color : grey;
 
}

#boram {
	float: left;
	max-width: 30%;
	margin: auto;


}


}
#soyeon {
	float: left;
	max-width: 30%;
	margin: auto;
	

}
#jiyeon {
	float: left;
	max-width: 30%;
	margin: auto;
	

}
#eunjung {
	float: left;
	max-width: 30%;
	margin: auto;
	

}

}
img { 
	width: 100%;
	padding: 30px;
	margin: auto;
	



 }



.banneranh {
	max-width: 100%;

}

.anh {
	max-width: 30%;

}

.thumb {
	overflow: hidden;

}
	
.anh {
	
	opacity: 1;
	transition: opacity 0.5s linear;
	overflow: hidden;

	
}




.anh:hover {
	opacity: 0.5;
	transform: translate(0, -10px);

}
 

 

