* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.wrap{
    background-image: url("img/legobackground.jpg");
    background-attachment: fixed;
}
.banner{
    position: relative;


}
.banner img{
    width: 100%;
    display: block;
}
/* .banner__img{
    position: absolute;

} */
.menu__wrap{
    width: 100%;
    position: absolute;
    z-index: 10;
}
.menu {
    /* max-width: 1200px; */
}
.menu__logo {
    /* width: 100%; */
    float: left;
    padding-top: 20px;
    padding-left: 60px;
    text-transform: uppercase;
}
.menu__logo a {
    color: white;
    text-decoration:none;
    font-size: 25px;
    transition: 1s;
}
.sup{
    color: goldenrod;
}

.menu__logo a:hover{
    color:goldenrod;
}

.menu__bar{
    /* width: 100%; */
    /* float: left; */
    /* height: 60px; */
    /* padding-top: 45px; */
    padding-top: 25px;
    padding-right: 30px;
}
.underlist{
    float: right;
    
}
.list{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.list li{
    float: left;
    /* width: 200px; */
    /* font-size: 20px; */
    text-transform: uppercase;
    padding: 5px;
}
.list a{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 10px 20px;
    margin : 0 auto;
    transition: 1s;
    
}
.list a:hover{
    color: orange;
    border: 2px solid white;
}
.content{
    max-width: 1000px;
    margin: auto;
    background: white;
}
.description{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    background: darkgoldenrod;
    
  
}
.description__head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
}
.description__text{
    line-height: 25px;
    color: white;
    padding-bottom: 30px;

}
.description img{
    width: 100%;
    padding: 10px;
}
.description img:hover{
    transform: translate(0,-10px);
}
.description__img{
    max-width: 100%;
    float: left;
    padding: 10px;
    padding-bottom: 40px;
    
    
}
.des__img1{
    max-width: 33%;
    float: left;
    overflow: hidden;
}
.des__img2{
    max-width: 33%;
    float: left;
}
.des__img3{
    max-width: 33%;
    float: left;
}
.diadiem{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    
}
.diadiem__text{
    color: black;
}
.event{
    text-align: center;
    line-height: 40px;
    padding: 5px;
    padding-top: 30px;
    background: goldenrod;
    /* background-image: url("img/legobackground.jpg");
    background-attachment: fixed; */
}
.event__head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
}
.event__text{
    line-height: 25px;
    color: white;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20px;
}
.wwd{
    text-align: center;
    line-height: 40px;
    max-width: 100%;
   
    
}
.wwd__left{
    max-width: 50%;
}
.left__img{
    float: left;
    max-width: 100%;
}
.img1{
    max-width: 33%;
    float: left;
    padding: 5px;
}
.wwd__right{
    max-width: 50%;
    float: right;

}
.wwd__head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 20px 0 40px 0;
}
.wwd__text{
    line-height: 25px;
    color: black;
    padding-bottom: 30px;

}
.wwd img{
    width: 100%;
}

.clear{
    clear: both;
}
.diengia{
    text-align: center;
    background: goldenrod;
    
}
.diengia img{
    width: 100%;
}
.diengia__img{
    float: left;
    max-width: 100%;
    padding-bottom: 30px;
}
.diengia1{
    float: left;
    max-width: 33%;
    padding: 35px;
}
.diengia2{
    float: left;
    max-width: 33%;
    padding: 35px;
}
.diengia3{
    float: left;
    max-width: 33%;
    padding: 35px;
}
.register{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
}
.head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
}
.register__text{
    line-height: 25px;
    color: black;
    padding-bottom: 30px;

}
.footer{
    height: 50px;
    background-color: goldenrod;
    color : white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}