* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.wrap{
    /* background-image: url("background2.jpg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%; */
}
.banner{
    position: relative;


}
.banner__side{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 80px;
    background: gray;
    opacity:0.5 ;
    top: 0;
    left: 0;
}
.banner img{
    width: 100%;
    display: block;
}

.menu__wrap{
    width: 100%;
    position: absolute;
    z-index: 10;
}

.menu__logo {
    float: left;
    padding-top: 10px;
    padding-left: 60px;
    text-transform: uppercase;
    max-width: 10%;
}
.logo img{
    max-width: 100%;
}
.menu__logo a {
    color: white;
    text-decoration:none;
    font-size: 25px;
    transition: 1s;
}
.sup{
    color: goldenrod;
}

.menu__logo a:hover{
    color:goldenrod;
}

.menu__bar{
    /* width: 100%; */
    /* float: left; */
    /* height: 60px; */
    /* padding-top: 45px; */
    padding-top: 25px;
    padding-right: 30px;
}
.underlist{
    float: right;
    
}
.list{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.list li{
    float: left;
    /* width: 200px; */
    /* font-size: 20px; */
    text-transform: uppercase;
    padding: 5px;
}
.list a{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 10px 20px;
    margin : 0 auto;
    transition: 1s;
    
}
.list a:hover{
    color: orange;
    border: 2px solid white;
}
.content{
    /* max-width: 800px; */
    margin: auto;
}
.description{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("background1.jpg");
    /* background-attachment: fixed; */
    background-size:cover ;
    height: 500px;
    /* height: 500px;
  
}
.des__content{
    background: #0e0e0e61;

}
.des__wrap{
    margin: auto;
    /* max-width: 800px; */
    text-align: center;
    line-height: 40px;
}
.des__content{
    max-width: 800px;
    margin: auto;
}
.description__head{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
    /* text-align: center; */
}
.description__text{
    line-height: 25px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    

}
.des__wrap{
    background : white;
}
.des__wrap img{
    width: 100%;
    padding: 10px;
    transition: 1s;
}
.des__wrap img:hover{
    transform: translate(0,-10px);
}
.description__img{
    max-width: 100%;
    /* float: left; */
    padding: 40px 10px 40px 10px;
    
    
}
.des__img1{
    max-width: 33%;
    float: left;
    overflow: hidden;
}
.des__img2{
    max-width: 33%;
    float: left;
}
.des__img3{
    max-width: 33%;
    float: left;
}
.diadiem{
    line-height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("img/bishub.jpg");
    /* background-attachment: fixed; */
    background-size: 100%;
    position: relative;
}
.diadiem__content{
    text-align: center;
    margin: auto;
    z-index: 3;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}
.diadiem__wrap{
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
}
.diadiem__text{
    color: white;
    font-size: 20px;
    background-color: #0e0e0e61;
}
.event{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    background-image: url("background2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    /* background-repeat: repeat; */
    
}
.event__wrap{
    /* background: #daa5207d; */

}
.event__table{
    width: 100%;
    padding-top: 40px;
}
.table{
    height: 50px;
    margin: 5px;
    padding: 5px;
}
.table__time1{
    background: purple;
    text-align: center;
    color: white;
    width: 100px;
}
.table__act1{
    background: yellowgreen;
    padding-left: 15px;
}
.table__time2{
    background: orangered;
    text-align: center;
    color: white;
    width: 100px;
}
.table__act2{
    background: lightskyblue;
    padding-left: 15px;
}
.event__content{
    max-width: 800px;
    margin: auto;
   
}
.event background{
    opacity: 0.5;
}
.event__head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 10px 0 20px 0;
}
.event__text{
    line-height: 25px;
    color: white;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
   
}
.wwd__wrap1{
    background: #daa5207d;
}
.wwd__wrap{
    line-height: 40px;
    /* max-width: 1000px;  */
    margin: auto;
}
.wwd__left{
    max-width: 100%;
    text-align: center;
}
.wwd__left img{
    width: 100%;
}
.left__img{
    float: left;
    max-width: 100%;
}
.img1{
    max-width: 33%;
    float: left;
    padding: 5px;
}
.wwd__content{
    max-width: 100%;
    background: #0e0e0e61;
    padding: 5px;


}
.wwd__head{
    text-transform: uppercase;
    color: blue;
    font-size: 40px;
    font-family: Lobster;
    padding: 20px 0 20px 0;
    text-align: center;
}
.wwd__text{
    line-height: 25px;
    color: white;
    /* padding-bottom: 30px; */
}

.wwd img{
    width: 100%;
}

.clear{
    clear: both;
}
.diengia{
    background-image: url("backgroundgray.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-repeat: repeat; */
    margin: auto;
}
.diengia__wrap{
    /* background: #daa5207d; */
    /* text-align: center; */
}
.diengia__content{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.diengia img{
    width: 100%;
    border-radius: 50%;
}
.diengia__img{
    float: left;
    max-width: 100%;
    padding-bottom: 30px;
}
.diengia1{
    float: left;
    max-width: 25%;
    padding: 35px;
}
.diengia2{
    float: left;
    max-width: 25%;
    padding: 35px;
}
.diengia3{
    float: left;
    max-width: 25%;
    padding: 35px;
}
.diengia4{
    float: left;
    max-width: 25%;
    padding: 35px;
}
.register{
    /* text-align: center;
    line-height: 40px; */
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("backgroundgray.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    margin: auto; 
    /* background-repeat: repeat; */
}
.register__wrap{
    text-align: center;
    line-height: 40px;
    max-width: 800px;
    margin: auto;
}
.register__content{
    text-align: center;
    /* background: #daa5207d; */
    max-width: 800px;
    margin: auto;
}
.head{
    text-transform: uppercase;
    color: black;
    font-size: 40px;
    font-family: Lobster;
    padding: 30px 30px 20px 0;
    position: relative;
    text-align: left;
}
.register__text{
    color: black;
    font-size: 20px;
    /* background-color: #0e0e0e61; */
    text-align: center;

}
.footer{
    height: 50px;
    background-color: gray;
    color : white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head::after {
    width: 200px;
    height: 3px;
    background-color: red;
    position: absolute; 
    top: 100px;
    left: 50px;
    content: '';
}
