* {
box-sizing: border-box;
background-color: pink;



}



h1 {
 color: pink;
 font-size: 50px;
 text-align: center;
	 }

h2 {
	color : blue;
	font-size: 40px;
	text-align: center;
}

h3 {
	color: green;
	font-size: 30px;
	text-align: center;
}
#wrap {
	max-width: 1000px;
	margin: auto;

}

#banner {
	float: left;	


}



#mainmenu {
	background: none;
	padding: 20px;
	text-align: center;
	position: fixed;
	top:5px;
	right: 0;
}




	
}

#mainmenu a { 
	font-size: 20px;
	color: red;
	text-decoration: none;


 }

 #mainmenu a:hover {
 	color: black;

 }

 #mainmenu a:visited {
 	color : grey;
 
}

.menu {
	
	display: block;
	height: 200px;
	width: 50px;
	border: 5px;
	background: none ;
	
	


}


#content {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#ny {
	float: left;
	max-width: 33%;
	margin: auto;


}


}
#ld {
	float: left;
	max-width: 33%;
	margin: auto;
	

}
#rio {
	float: left;
	max-width: 33%;
	margin: auto;
	

}
#cr {
	float: left;
	max-width: 33%;
	margin: auto;
	

}


#back {

	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;

}

}
img { 
	width: 100%;
	padding: 30px;
	margin: auto;
	



 }

 img:hover {
 	color: grey;

 }

.anhbanner {
	max-width: 100%;

}

 .anh {
 	max-width: 30%;

 }
	

 

