* {
	box-sizing: border-box;
	
	
	}
	
	body{
		background-position: center;
		background-color: #f1f1f1;
		
		background-repeat: repeat-y;
		background-size: 100%;
	
	
	}
	
	
	
	h2 {
		color : rgb(97, 17, 3) !important;
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
	}
	
	
	#wrap {
		margin: auto;
		max-width: 1000px;
		
	
	}
	
	#banner {
	
		width: 100%;
		max-height: 500px;
		position: relative;
	}
	.logo {
		width: 35%;
		position: absolute;
		right: 11px;
		top: 230px;

	}
	
	#menu
	{
	  height: 40px;
	  background-color: #f1f1f1;
	  margin: 5px 0px;
	  text-align: center;
	}
	
	
		
	
	#menu li {
		color: rgb(97, 17, 3);
		display: inline-block;
		width: 120px;
		height: 40px;
		
		margin-left: -5px;
	
	  }
	  #menu ul {
		background: #575b5f;
		list-style-type: none;
		list-style: none;
		
		width: 100%;
		text-align: center;
	  }
	 
	  #menu ul li {
		float: left;
		border-right: 1px dotted #999;
		position: relative;
		
	  }
	  #menu ul li:last-child
	  {border: none;}
	
	  #menu ul li a {
		  text-decoration: none;
		  padding: 10px 40px;
		  display: block;
		  white-space: pre;
		 
	
	  }
	
	  #menu ul li a:hover {
		  color: rgb(97, 17, 3);
		  background-color: rgb(48, 48, 43);
		  transition: all 1s 0s linear;
		  font-size: 18px;
		
	  }
	  #menu a {
		text-decoration: none;
		color: rgb(97, 17, 3);
		display: block;
	  }
	  #menu a:hover {
		background: #F1F1F1;
		color: #333;
	  }
	
	  #menu ul ul li {
		
		  border-right: none;
	
	  }
	
	  #menu ul ul {
		  background-color: #575b5f00;
		 
	
	  }
	  #menu .sub-menu{
		  display: none;
		  position: absolute;
		 
		  width: 120px;
		  padding: 5px 5px;
		  text-align: center;
	  }
	  #menu li:hover .sub-menu{
		  display: block;
	  }
	  
	img { 
		width: 100%;
		padding: 30px;
		margin: auto;
		
	
	 }
	
	
	
	.banneranh {
		max-width: 100%;
	
	}
	#content1 {
		 
	}

	
	#content2 {
		margin: auto;
	
	}
	
	
	.content_left {
		max-width: 45%;
		float: left;
		color:rgb(0, 0, 0);
		background-color: #f1f1f1;
		text-align: left;
		word-spacing: 3px;
		line-height: 45px;
		height: 700px;
		padding: 60px 20 0 25px;
		border-radius: 10%;
		border: 5px;
		
		
		
	
	
	
	
	}
	
	.content_right {
		max-width: 50%;
		float: right;
		padding-top: -25px;
		background-color: #f1f1f1;
		height: 700px;
		border-radius: 10%;
	}
	
	.content_left2 {
		max-width: 50%;
		float: left;
		margin: auto;
		padding-top: 190px;
		height: 800px;
		background-color: #744129;
	}
	.content_right2 {
		max-width: 50%;
		float: right;
		color: #F1F1F1;
		text-align: left;
		word-spacing: 3px;
		line-height: 45px;
		height: 800px;
		background-color: #744129;
	}
	
	#khonggian1 {
		max-width: 100%;
	
	}
	
	#khonggian2 {
		max-width: 100%;
		
	}
	#thanhly1 {
		max-width: 100%;
		
	}
	.clear1 {
		clear: both;
		height: 50px;
		background-color: #f1f1f1;
	}
	.clear2 {
		clear: both;
	}
	.clear3 {
		clear: both;
		height: 50px;
		background-color: #f1f1f1;
	}
	
	#footer {

		text-align: center;
		background:  rgb(97, 17, 3);
		color: white;
		padding: 10px;
	}
	 
	