#cafe{
	
	color: black;
	text-align: left;
	word-spacing: 3px;
	line-height: 45px;
	max-width: 100%;
}

.contentcfl {
	max-width: 50%;
	float: left;
	

}
.contentcfm{
	max-width: 25%;
	float: left;
	overflow: hidden;
}
.contentcfr {
	max-width: 25%;
	float:right;
	overflow: hidden;
}
.contentcfb {
	max-width: 50%;
	float: right;
	padding-right: 25px;
	overflow: hidden;
}

#content1_1 {
	max-width: 30%;
	padding: 5px;
	float: left;

}
#content1_2 {
	max-width: 30%;
	padding: 5px;
	float: left;
}
#content1_3 {
	max-width: 30%;
	padding: 5px;
	float: left;
}


.anhcont {
	opacity: 1;
	transition: opacity 1s linear;

}

.anhcont:hover {
	opacity: 0.5;
	transform: scale(1.5);
	
}
.anhcont1 {
	opacity: 1;
	transition: opacity 1s linear;

}

.anhcont1:hover {
	opacity: 0.5;
	transform: translate(10%)
	
}

#content2_1 {
	max-width: 50%;
	padding: 5px;
	float: left;
}
#content2_2 {
	max-width: 50%;
	padding: 5px;
	float: left;
}

#iceblend{
	
	color: black;
	text-align: left;
	word-spacing: 3px;
	line-height: 45px;
	max-width: 100%;
}
#tea{
	
	color: black;
	text-align: left;
	word-spacing: 3px;
	line-height: 45px;
	max-width: 100%;
}
#content2_4 {
	max-width: 50%;
	padding: 5px;
	float: left;
}
#content2_5 {
	max-width: 50%;
	padding: 5px;
	float: left;
}
.clear {
	clear: both;
}