*{
	box-sizing: border-box;
}
body{
	margin: auto;
	max-width: 1000px;
	max-height: 1000px;
	/* padding-top: 50px; */
}
.clock__wrap{
	padding: 20px;
	max-height: 500px;
	max-width: 500px;
	position: relative;
}
.clock__wise{
    position: absolute;
}
.wise__center{
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 250px;
    left: 250px;
    background-color: #b92626;
}
.wise__hour{
    position: absolute;
    width: 5px;
    height: 175px;
    background-color: #b92626;
    transform: rotate(27deg);
    top: 130px;
    left: 271px;
    
}
.wise__minute{
    position:absolute;;
    width: 3px;
    height: 200px;
    background-color: #b92626;
    transform: rotate(80deg);
    top: 123px;
    left: 321px;
}
.wise__second{
    position: absolute;
    width: 1px;
    height: 300px;
    background-color: #b92626;
    transform: rotate(126deg);
    top: 160px;
    left: 320px;
}
.clock__outside{
	position: absolute;
	height: 500px;
	width: 500;
	/* font-size: 20px; */
	background-color:rgba(187, 151, 31, 0.979);
	border-radius: 50%;
	z-index: 1;
}
.clock__number{
	position: relative;
}
.tick{
	background-color: white;
	position: absolute;
	height: 20px;
	widows: 5px;
}
.outside__one{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	/* font-size: 20px; */
	/* padding: 5px; */
	/* padding-top: 10px; */
	transform: rotate(30deg);
	z-index: 3;
}
.outside__two{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-top: 10px; */
}
.outside__three{
	position: absolute;
	top: 250px;
	right: 15px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-right: 10px; */
}
.outside__four{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-right: 10px; */
}
.outside__five{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-bottom: 10px; */
}
.outside__six{
	position: absolute;
	/* top: 50%; */
	right: 235px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-bottom: 10px; */
}
.outside__seven{
	position: absolute;
	top: 466.5px;
	left: 125px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-bottom: 10px;
}
.outside__eight{
	position: absolute;
	top: 375px;
	left: 33.5px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-left: 10px;
}
.outside__nine{
	position: absolute;
	left: 15px;
	top: 250px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-left: 10px; */
}
.outside__ten{
	position: absolute;
	top: 125px;
	left: 33.5px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-left: 10px;
}
.outside__eleven{
	position: absolute;
	top: 33.5px;
	left: 125px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
}
.outside__twelve{
	position: absolute;
	top: 10px;
	left: 243px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	transform: translate;
	text-align: center;
}
.clock__inside{
	position: absolute;
	height: 400px;
	width: 400px;
	background-color: black;
	z-index: 3;
	border-radius: 50%;
	top: 70px;
	left: 70px;
}
.clock__insidewrap{
	position: relative;
}
.clock__name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 70px;
	font-size: 30px;
	color: #b92626;
}
.clock__wise{
	position: absolute;
	z-index: 4;
}

.clock__minileft{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: grey;
	top: 170px;
	left: 80px;
	border-radius: 50%;
}
.clock__miniright{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: grey;
	top: 170px;
	left: 235px;
	border-radius: 50%;
}
.clock__minibottom{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: grey;
	top: 280px;
	left: 150px;
	border-radius: 50%;
}