*{
	box-sizing: border-box;
}
body{
	margin: auto;
	max-width: 1000px;
	max-height: 1000px;
	/* padding-top: 50px; */
}
.clock__wrap{
	padding: 20px;
	max-height: 500px;
	max-width: 500px;
	position: relative;
}
.clock__wise{
    position: absolute;
}
.wise__center{
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 250px;
    left: 250px;
    background-color: #b92626;
}
.wise__hour{
    position: absolute;
    width: 5px;
    height: 175px;
    background-color: #b92626;
    transform: rotate(27deg);
    top: 130px;
    left: 271px;
    
}
.wise__minute{
    position:absolute;;
    width: 3px;
    height: 241px;
    background-color: #b92626;
    transform: rotate(80deg);
    top: 123px;
    left: 321px;
}
.wise__second{
    position: absolute;
    width: 1px;
    height: 286px;
    background-color: #b92626;
    transform: rotate(126deg);
    top: 160px;
    left: 320px;
}
.clock__outside{
	position: absolute;
	height: 500px;
	width: 500;
	/* font-size: 20px; */
	background-color:rgba(187, 151, 31, 0.979);
	border-radius: 50%;
	z-index: 1;
}
.clock__number{
	position: relative;
}
.tick{
	background-color: white;
	position: absolute;
	height: 20px;
	widows: 5px;
}
.outside__one{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	/* font-size: 20px; */
	/* padding: 5px; */
	/* padding-top: 10px; */
	transform: rotate(30deg);
	z-index: 3;
	background-color: #b92626;
    width: 3px;
    height: 498px;
}
.outside__two{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-top: 10px; */
	width: 3px;
    height: 498px;
    background-color: #b92626;
    transform: rotate(65deg);
}
.outside__three{
	position: absolute;
	top: 250px;
	right: 15px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-right: 10px; */
	color: #b92626;
}
.outside__four{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-right: 10px; */
	width: 3px;
    height: 498px;
    background-color: #b92626;
    transform: rotate(115deg);
}
.outside__five{
	position: absolute;
	top: 50%;
	right: 50%;
	color: white;
	font-size: 20px;
	/* padding: 5px; */
	/* padding-bottom: 10px; */
	width: 3px;
    height: 498px;
    background-color: #b92626;
    transform: rotate(150deg);
}
.outside__six{
	position: absolute;
	/* top: 50%; */
	right: 235px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-bottom: 10px; */
	background-color: rgba(187, 151, 31, 0.979);
    color: #b92626;
    top: 460px;
}
.outside__seven{
	position: absolute;
	top: 466.5px;
	left: 125px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-bottom: 10px;
}
.outside__eight{
	position: absolute;
	top: 375px;
	left: 33.5px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-left: 10px;
}
.outside__nine{
	position: absolute;
	left: 15px;
	top: 250px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	/* padding-left: 10px; */
	color: #b92626;
}
.outside__ten{
	position: absolute;
	top: 125px;
	left: 33.5px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-left: 10px;
}
.outside__eleven{
	position: absolute;
	top: 33.5px;
	left: 125px;
	color: white;
	font-size: 20px;
	padding: 5px;
	padding-top: 10px;
}
.outside__twelve{
	position: absolute;
	top: 10px;
	left: 233px;
	color: white;
	font-size: 25px;
	/* padding: 5px; */
	transform: translate;
	text-align: center;
	color: #b92626;
}
.clock__inside{
	position: absolute;
	height: 400px;
	width: 400px;
	background-color: black;
	z-index: 3;
	border-radius: 50%;
	top: 70px;
	left: 70px;
}
.clock__insidewrap{
	position: relative;
}
.clock__name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 70px;
	font-size: 30px;
	color: #b92626;
}
.clock__wise{
	position: absolute;
	z-index: 4;
}

.clock__minileft{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: rgba(187, 151, 31, 0.979);
	top: 170px;
	left: 80px;
	border-radius: 50%;
}
.minileft__wrap{
	position: relative;
}
.minileft__inside{
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: rgb(22, 20, 20);
	top: 10px;
	left: 10px;
}
.minileft__name{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 23px;
	left: 35px;
}
.minileft__number{
	position: relative;
}
.minileft__one{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(30deg);
	top: 4px;
	left: 68px;
}
.minileft__two{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(60deg);
	top: 18px;
	left: 81px;
}
.minileft__three{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 43px;
	left: 90px;
}
.minileft__four{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(125deg);
	top: 64px;
	left: 86px;
}
.minileft__five{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(150deg);
	top: 82px;
	left: 70px;
}
.minileft__six{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 89px;
	left: 47px;
}
.minileft__seven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(205deg);
	top: 84px;
	left: 24px;
}
.minileft__eight{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(230deg);
	top: 68px;
	left: 6px;
}
.minileft__nine{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 43px;
	left: 0px;
}
.minileft__ten{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(315deg);
	top: 21px;
	left: 6px;
}
.minileft__eleven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(335deg);
	top: 5px;
	left: 22px;
}
.minileft__twelve{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 0px;
	left: 47px;
}
.minileft__center{
	position: absolute;
	background-color: #b92626;
	border-radius: 50%;
	height: 3px;
	width: 3px;
	top: 50px;
	left:50px;
}
.mini__wise{
	position: absolute;
	background-color: #b92626;
	width: 1px;
	height: 30px;
	transform: rotate(55deg);
	top: 31px;
	left: 59px;
}
.clock__miniright{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: rgba(187, 151, 31, 0.979);
	top: 170px;
	left: 235px;
	border-radius: 50%;
}
.miniright__name{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 23px;
	left: 37px;
}
.miniright__inside{
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: rgb(22, 20, 20);
	top: 10px;
	left: 10px;
}
.miniright__number{
	position: relative;
}
.miniright__one{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(30deg);
	top: 6px;
	left: 72px;
}
.miniright__two{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(60deg);
	top: 21px;
	left: 86px;
}
.miniright__three{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 43px;
	left: 92px;
}
.miniright__four{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(125deg);
	top: 64px;
	left: 88px;
}
.miniright__five{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(150deg);
	top: 83px;
	left: 70px;
}
.miniright__six{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 89px;
	left: 47px;
}
.miniright__seven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(205deg);
	top: 83px;
	left: 24px;
}
.miniright__eight{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(230deg);
	top: 68px;
	left: 9px;
}
.miniright__nine{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 43px;
	left: 2px;
}
.miniright__ten{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(315deg);
	top: 21px;
	left: 6px;
}
.miniright__eleven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(335deg);
	top: 5px;
	left: 22px;
}
.miniright__twelve{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 0px;
	left: 47px;
}
.miniright__center{
	position: absolute;
	background-color: #b92626;
	border-radius: 50%;
	height: 3px;
	width: 3px;
	top: 50px;
	left:50px;
}
/* .mini__wise{
	position: absolute;
	background-color: #b92626;
	width: 1px;
	height: 30px;
	transform: rotate(55deg);
	top: 31px;
	left: 59px;
} */
.clock__minibottom{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: rgba(187, 151, 31, 0.979);
	top: 280px;
	left: 150px;
	border-radius: 50%;
}
.minibottom__name{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 23px;
	left: 24px;
}
.minibottom__inside{
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: rgb(22, 20, 20);
	top: 10px;
	left: 10px;
}
.miniright__number{
	position: relative;
}
.minibottom__one{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(30deg);
	top: 6px;
	left: 72px;
}
.minibottom__two{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(60deg);
	top: 21px;
	left: 86px;
}
.minibottom__three{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 43px;
	left: 92px;
}
.minibottom__four{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(125deg);
	top: 65px;
	left: 87px;
}
.minibottom__five{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(150deg);
	top: 82px;
	left: 70px;
}
.minibottom__six{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	/* transform: rotate(30deg); */
	top: 89px;
	left: 47px;
}
.minibottom__seven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(205deg);
	top: 83px;
	left: 24px;
}
.minibottom__eight{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(230deg);
	top: 67px;
	left: 8px;
}
.minibottom__nine{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 43px;
	left: 2px;
}
.minibottom__ten{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(315deg);
	top: 21px;
	left: 6px;
}
.minibottom__eleven{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	transform: rotate(335deg);
	top: 5px;
	left: 22px;
}
.minibottom__twelve{
	position: absolute;
	color: #b92626;
	font-size: 10px;
	top: 0px;
	left: 47px;
}
.minibottom__center{
	position: absolute;
	background-color: #b92626;
	border-radius: 50%;
	height: 3px;
	width: 3px;
	top: 50px;
	left:50px;
}
.bottom__hour{
	position: absolute;
	background-color: #b92626;
	height: 30px;
	width: 2px;
	top: 31px;
	left: 47px;
	transform: rotate(325deg);
}
.bottom__minute{
	position: absolute;
	background-color: #b92626;
	height: 47px;
	width: 1px;
	top: 26px;
	left: 64px;
	transform: rotate(80deg);
}
