* {
box-sizing: border-box;


}

body{
	background-position: center;
	background-color: rgb(87, 91, 95);
	background-image: url("img/background2.jpg");
	background-repeat: repeat-y;
	background-size: 100%;


}



h1 {
 color: pink;
 font-size: 50px;
 text-align: center;
	 }

h2 {
	color : rgb(8, 73, 8) !important;
	font-size: 40px;
	text-align: center;
}

h3 {
	color: green;
	font-size: 30px;
	text-align: center;
}
#wrap {
	margin: auto;
	

	

}

#banner {
	float: left;
	width: 100%;
	max-height: 50%;



}

#mainmenu {
	

	max-width: 100%;
	text-align: center;
	float: left;
}


 
#menu ul {
		background: rgb(31, 44, 56);
		list-style-type: none;
		overflow: hidden;
		width: 100%;
	  }
	

 

 #mainmenu li { 
	color: #f1f1f1;
   float: left;
   width: 150px;
   height: 40px;
   line-height: 40px;
   padding-right: 20px;
   text-align: center;
 


	opacity: 1;
	transition: opacity 0.3s linear;
	list-style-type: none;
	position: relative;


 }



 #mainmenu li:hover {
 	
 	opacity: 0.3;


 }

 #mainmenu ul:visited {
 	color : grey;
 
}

#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
  }
  #menu a:hover {
	background: #F1F1F1;
	color: #333;
  }


#menu li {
	position: relative;
}

#menu .sub-menu {
	display: none;
}

#menu li:hover>.sub-menu{
	display: block;

}
#menu li:hover>.sub-menu{
	top: 40px;
	left:0;
}

img { 
	width: 100%;
	padding: 30px;
	margin: auto;
	

 }



.banneranh {
	max-width: 100%;

}

#content2 {
	margin: auto;

}
.content_left {
	max-width: 50%;
	float: left;
	color: #F1F1F1;
	text-align: center;
	word-spacing: 3px;
	line-height: 45px;




}

.content_right {
	max-width: 50%;
	float: right;
	
}

.content_left2 {
	max-width: 50%;
	float: left;
	margin: auto;
	position: absolute;
}
.content_right2 {
	max-width: 50%;
	float: right;
	color: #F1F1F1;
	text-align: left;
	word-spacing: 3px;
	line-height: 45px;
}

#khonggian1 {
	max-width: 100%;

}

#khonggian2 {
	max-width: 100%;
	
}

.border {
	clear: both;
}
.thumb {
	overflow: hidden;

}
	
.anh {
	
	opacity: 1;
	transition: opacity 0.5s linear;
	overflow: hidden;

	
}




.anh:hover {
	opacity: 0.5;
	transform: translate(0, -10px);

}
 

 
