* {
box-sizing: border-box;


}

body{
	background-color: rgb(87, 91, 95);
	background-image: url("img/background.jpg")
	max-width: 1200px;
	
}

h1 {
 color: pink;
 font-size: 50px;
 text-align: center;
	 }

h2 {
	color : blue;
	font-size: 40px;
	text-align: center;
}

h3 {
	color: green;
	font-size: 30px;
	text-align: center;
}
#wrap {
	margin: auto;

	

}

#banner {
	float: left;



}

#mainmenu {
	

	max-width: 100%;
	text-align: center;
	float: left;
}


 
#menu ul {
		background: rgb(31, 44, 56);
		list-style-type: none;
		overflow: hidden;
		width: 100%;
	  }
	

 

 #mainmenu li { 
	color: #f1f1f1;
   float: left;
   width: 150px;
   height: 40px;
   line-height: 40px;
   padding-right: 20px;
   text-align: center;
 


	opacity: 1;
	transition: opacity 0.3s linear;
	list-style-type: none;
	float: left;

 }



 #mainmenu li:hover {
 	
 	opacity: 0.3;


 }

 #mainmenu ul:visited {
 	color : grey;
 
}

#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
  }
  #menu a:hover {
	background: #F1F1F1;
	color: #333;
  }

#boram {
	float: left;
	max-width: 30%;
	margin: auto;


}


}
#soyeon {
	float: left;
	max-width: 30%;
	margin: auto;
	

}
#jiyeon {
	float: left;
	max-width: 30%;
	margin: auto;
	

}
#eunjung {
	float: left;
	max-width: 30%;
	margin: auto;
	

}

}
img { 
	width: 100%;
	padding: 30px;
	margin: auto;
	



 }



.banneranh {
	max-width: 100%;

}

.anh {
	max-width: 30%;

}

.thumb {
	overflow: hidden;

}
	
.anh {
	
	opacity: 1;
	transition: opacity 0.5s linear;
	overflow: hidden;

	
}




.anh:hover {
	opacity: 0.5;
	transform: translate(0, -10px);

}
 

 
